html 
    head 
        link(rel="stylesheet" href="/css/styles.css")
    body
        table(id='scores')
            tr
                th(colspan=3) &#x1F986; DUCK HUNT - HIGH SCORES &#x1F986;
                

                for score in scores 
                    tr 
                        td(class='place')= score.place
                        td(class='initials')= score.initials
                        td(class='score')= score.score